@import "tailwindcss";

:root {
    background-color: var(--color-grayscale-100);
}

@theme{
    --color-primary-100: #DEAEB5;
    --color-primary-200: #D09C96;
    --color-primary-300: #BD5D6B;
    --color-primary-400: #AA2F41;
    --color-primary-500: #A0182C;
    --color-primary-600: #801323;
    --color-primary-700: #68101D;
    --color-primary-800: #480B14;
    --color-primary-900: #28060B;

    --color-grayscale-100: #F2F2F2;
    --color-grayscale-200: #D9D8D9;
    --color-grayscale-300: #BAB8B9;
    --color-grayscale-400: #A19E9F;
    --color-grayscale-500: #817E7F;
    --color-grayscale-600: #615F5F;
    --color-grayscale-700: #413F40;
    --color-grayscale-800: #272626;
    --color-grayscale-900: #0D0D0D;

    --font-poppins: "Poppins", "sans-serif";
    --font-garamond: "EB Garamond", "serif";
}

@layer components {
    .title {
        font-family: var(--font-poppins);
        font-weight: bold;
        font-size: 1.25rem;
    }

    .subtitle {
        font-family: var(--font-poppins);
        font-weight: bold;
        font-size: 1rem;
    }

    .body {
        font-family: var(--font-garamond);
        font-weight: 400;
        font-size: 1rem;
    }

    .tag {
        font-family: var(--font-poppins);
        font-weight: 500;
        font-size: 0.75rem;
    }
}
